# https://genome.sph.umich.edu/wiki/METAL_Quick_Start
# METAL Options:
SCHEME STDERR
AVERAGEFREQ ON
MINMAXFREQ ON
VERBOSE OFF


# Input columns:
MARKER SNP
ALLELE A1 A2
EFFECT b
STDERR se
FREQ freq
PVALUE p
WEIGHT N

CUSTOMVARIABLE TotalSampleSize  
LABEL TotalSampleSize as N

PROCESS file1
PROCESS file2
PROCESS file3

OUTFILE ARHL .tbl
ANALYZE HETEROGENEITY 
QUIT
